@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "libs/_variable.scss";
@import "libs/_reset.scss";
@import "libs/_basics.scss";
@import "mixins/_flex.scss";

@import "libs/contact";
@import "libs/offres";
@import "libs/ressources";
@import "libs/temoignages";
@import "libs/navbar";
@import "libs/valeurs";
@import "libs/video";
@import "libs/commentaires";
@import "libs/actualites";
@import "libs/aidesfemmes";
@import "libs/footer";
@import "libs/newsletter";
@import "libs/thank";
@import "libs/404";

