@import "libs/reset.scss";
@import "libs/flex.scss";
@import "libs/size.scss";

section{
    @include flex(center);
}

#actualites{

    margin-top: 80px;
    h1{
        font-size: 40px;
        text-align: center;
    }
    section{
        display: flex;
        flex-wrap:wrap;
        margin: 0 100px;
        margin-top: 48px;
        figure{
            margin-right: 200px;
            div{
                position:relative;
                bottom: 65px;
                width: 370px;
                background-color: rgba($color: #000000, $alpha: 0.5);
                p{
                    color: white;
                    padding: 10px;
                }
            }

            img{
                width: 370px;
                height: 370px;
            }
        }

    }
    
}
