@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "libs/variable.scss";
@import "libs/_reset.scss";
@import "libs/_basics.scss";
@import "libs/ressources";
@import "mixins/_flex.scss";

header{
    position: absolute;
    z-index: 10;
    .nav{
        height: 100px;
        width: 100vw;
        background-color:$main-color;
        display:flex;
        align-items: center;
        &> #nav-check{
            display: none;
        }
        &> .nav-logo{
            width: 15%;
            display:flex;
            justify-content:center;
            h1{
                font-size:2.25rem;
            }
        }
        &> .nav-btn{
            display:none;
        }
        &> .nav-links{
            display:flex;
            justify-content:center;
            width:70%;
            div{
                display: flex;
                a{
                    padding:15px;
                    font-size:1.5rem;
                }
            }
        }
        &> .nav-icons{
            width:15%;
            display:flex;
            justify-content:space-around;
            div{
                display: flex;
                div{
                margin:10px;
                width:40px;
                height: 40px;
                background:$secondary-color;
                border-radius: 15px;
                }
                
            }
        }

        @media screen and (min-width : 768px) and (max-width : 1024px) {
            &> .nav-logo{
                h1{
                    font-size:1.5rem;
                }
            }
            &> .nav-links{
                div{
                    a{
                        padding:10px;
                        font-size:1rem;
                    }
                }
            }
            &> .nav-icons{
                div{
                    div{
                        width:26.86px;
                    height: 26.86px;
                    }
                    
                }
            }
        }
    
        @media screen and (max-width : 500px) {
            #nav-check{
                &:checked ~ .nav-btn > label{
                    & >span:nth-child(2){
                        display: none;
                    }
                    & >span:nth-child(1){
                        transform: rotate(45deg) translate(0px, 11px);
                    }
                    & >span:nth-child(3){
                        transform: rotate(-45deg) translate(0px, -3px);
                    }
                }
                &:not(:checked) ~ .nav-links {
                    height: 0px;
                }
                &:checked ~ .nav-links {
                    height: calc(60vh - 100px);
                    overflow-y: auto;
                }
            }
            &> .nav-btn{
                display: block;
                position: absolute;
                right: 20px;
                top:20px;
                & > label{
                    width: 50px;
                    height: 50px;
                    padding: 13px;
                    & > span{
                        display: block;
                        height: 10px;
                        border-top: 2px solid $secondary-color;
                    }
                }
            }
            &> .nav-logo{
                h1{
                    font-size:0.75rem;
                }
            }
            &> .nav-links{
                position: absolute;
                width: 100%;
                background-color: $main-color;
                height: 0px;
                overflow-y: hidden;
                top: 100px;
                left: 0px;
                div{
                    flex-direction: column;
                    a{
                        font-size:1rem;
                        width: 100%;
                    }
                }
            }
            &> .nav-icons{
                width:70%;
                div{
                    div{
                        width:26.86px;
                        height: 26.86px;
                    }
                    
                }
            }
        } 
    } 
}

body{
    *{
        font-family:$lato;
    }
    section.banner{
        .img-back{
            width:100vw;
            height:80vh;
            background:$back-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            & div h1{
                font-size:4.5rem;
            }
            & div h3{
                font-size:2rem;
            }
        }
    }

    section.commentaire{
            background-color:$secondary-color;
            width:100vw;
            >div{
                padding:60px;
                .com-title{
                    h3{
                        font-size:40px;
                        color:white;
                    }
                }
            .com-citations{
                >div{
                    p{
                        font-size:24px;
                        padding:40px;
                        color: white;
                    }
                }
                >div:nth-child(odd){
                    text-align: right;
                }
            }

            .com-button{
                display: flex;
                justify-content: center;
                margin-top:40px;
                a{
                    font-size:24px;
                    padding:10px 80px;
                    background-color:$main-color;
                    border-radius: 15px;
                    border: none;
                }
            }
        }
        

        @media screen and (min-width : 768px) and (max-width : 1024px) {
            
                >div{
                    
                .com-title{
                    h3{
                        font-size:36px;
                    }
                }
                .com-citations{
                    >div{
                        text-align:center;
                        p{
                         font-size:18px;
                        }
                        
                    }
                    >div:nth-child(odd){
                        text-align:center;
                    }
                }
    
                .com-button{
                    a{
                        padding:10px 80px;
                        font-size: 18px;    
                    }
                }
                }
            
        }
    
        @media screen and (max-width : 500px) {
            
                >div{
                    
                .com-title{
                    h3{
                        font-size:28px; 
                    }
                }
                .com-citations{
                    padding-top:20px;
                    >div{
                        
                        text-align:center;
                        p{
                            font-size:8px;
                            padding:10px;
                        }
                        
                    }
                    >div:nth-child(odd){
                        text-align:center;
                    }
                }
    
                .com-button{
                    
                    a{
                    font-size:12px;
                    }
                }
                }
            
        } 
        
    }

    footer{
        height:140px;
        display:flex;
        align-items: center;
        background-color:$main-color;
        .nav-footer-links{
            width:30%;
            display:flex;
            justify-content: center;
            div{
                a{
                    padding: 15px;
                    font-size:18px;
                }
            }
        }
        .copyright{
            width:40%;
            display: flex;
            justify-content:center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                div{
                    h4{
                        font-size:24px;
                    }
                    hr{
                        width:100%;
                    }
                }
                h5{
                    font-size:18px
                }
            }
        }
        .nav-footer-icon{
            width:30%;
            display:flex;
            justify-content:space-around;
            div{
                display: flex;
                div{
                margin:20px;
                width:40px;
                height: 40px;
                background:$secondary-color;
                border-radius: 10px;
                } 
            }
        }

        @media screen and (min-width : 768px) and (max-width : 1024px) {
            height: 158px;
            .nav-footer-links{
                div{
                    display:flex;
                    flex-direction: column;
                    a{
                        font-size:14px;
                        padding: 0;
                    }
                }
            }
            .copyright{
                div{
                    div{
                        h4{
                           font-size:18px; 
                        }
                    }
                    h5{
                        font-size:14px;
                    }
                }
            }
            .nav-footer-icon{
                div{
                    div{
                        height:35px;
                        width:35px;
                    } 
                }
            }
        }
    
        @media screen and (max-width : 500px) {
            height: 129px;
            flex-direction: column;
            justify-content: center;
            .nav-footer-links{
                display:none;
            }
            .copyright{
                div{
                    div{
                        h4{
                           font-size:16px; 
                        }
                    }
                    h5{
                        font-size:12px;
                    }
                }
            }
            .nav-footer-icon{
                div{
                    div{
                        height:24px;
                        width:24px;
                    } 
                }
            }
            
           
        } 

    }

}



#valeur{
    margin-top: 88px;
    margin-left: 38px;
    margin-right: 37px;
    div{
        width: 294px;
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 28px;
            text-align: center;
            &:first-child{
                font-size: 36px;
            }
            &:last-child{
                font-size: 24px;
            }
        }
        figure{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #346751;
            margin-top:29px;
            margin-bottom:31px;
            width: 182px;
            height: 182px;
            object-fit:cover;
            border-radius:50%;
           
            img{
                text-align: center;
               
            }
        }
        
    }
    

}

